In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats

# Business Problem
This is a peer comparison project. Suppose that you are working for Samsung in customer experience management team. The idea is to regularly monitor the customer satisfaction levels and peer company moves. The competitor company is Apple. The objective is to test two main hypothesis.

In [6]:
#Import required data set
dataset=pd.read_csv("D:\Pyhton\Basic Stats - Case Study-2\Testing_Of_Hypothesis.csv")
dataset.head(5)

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
Sr No            100 non-null int64
S_Cust_id        100 non-null object
Samsung Score    100 non-null int64
Apple_Cust_id    100 non-null object
Apple_Score      100 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.0+ KB

In [10]:
Samsung_cust=dataset[['S_Cust_id','Samsung Score']]
Apple_cust=dataset[['Apple_Cust_id','Apple_Score']]

In [14]:
print(Samsung_cust[['Samsung Score']].mean())
print(Apple_cust[['Apple_Score']].mean())

Samsung Score    84.9
dtype: float64
Apple_Score    87.81
dtype: float64

1. The Samsung Average customer satisfaction score is minimum 75%

Hypothesis testing : 
1. Business probelm is to check if sample mean of Samsung customer equals to 75%
2. One sample T test for the expected value (mean) of sample of independent observations is equal to the given mean (popmean) to be conducted.
3. Ho: Null hypothesis is that the expected value (mean) of a sample of independent observations = 75%
4. Ha: Alternative hypothesis is that the expected value (mean) of a sample of independent observations <> 75%
5. CI = 95%

In [11]:
stats.ttest_1samp(a=Samsung_cust[['Samsung Score']],popmean = 75)

Ttest_1sampResult(statistic=array([8.35828745]), pvalue=array([4.0739777e-13]))

Conclusion: P-Value is very low (4.0739777e-13 < 0.05) 
            Hence rejecting the Ho (null hypothesis) 
            This implies that with 95% confidence we can say that mean of Samsung customers satisfaction score <> 75%

2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores

Hypothesis testing : 
1. Business probelm is to check if average satisfaction score of Samsung is same as Apple. Two continuous independent variables have same expected values. 
2. T test independent, two-sided test to check if 2 samples have identical expected values will be conducted.
(As both the sets have 100 independent samples customer scores, hence not conducting relational test.)
3. Ho: Null hypothesis is that there is no difference in average satisfaction score of Samsung and Apple customers
4. Ha: There is significant difference in average satisfaction score of Samsung and Apple customers
5. CI = 95%

In [12]:
#Checking on the basis of all parameters: Fruit weight, Seed yeld and seedling lenght
print(stats.ttest_ind(a = Samsung_cust[['Samsung Score']], b = Apple_cust[['Apple_Score']]))

Ttest_indResult(statistic=array([-1.90642959]), pvalue=array([0.05804261]))

Conclusion: P-Value 0.05804261 > 0.05
            Hence accepting the Ho (null hypothesis) 
            This implies that with 95% confidence we can say, there is no difference in average satisfaction score of Samsung and Apple customers